parkingspot-left {

}

.parkingSpotCol {
  display: inline-flex;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.left-parking-lot-col{
  border: 0px;
  display: flex;
  align-items: right;
  justify-content: flex-end;
}


.dotted-border{
  border: 2px dotted black;
  background-color: #D3D3D3;
}

.car-icon{
  height: 20px;
}

.car-reserved{
  filter: invert(.5);
}

.car-my-reserved{
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.noDataAvailable{
  background-color: #D3D3D3;
}
