<!--
  ~ parkingspot-right.html
  ~
  ~ Created on 2019-03-19
  -->

<div class="parkingSpotCol">
  <ion-col [class.noDataAvailable]="!backendHasDataAboutParkingSpot()" col-8>
    <div *ngIf="!backendHasDataAboutParkingSpot()"><b>?</b></div>
    <img *ngIf="isCarVisible() && backendHasDataAboutParkingSpot()" [class.car-my-reserved]="isMyParkingSpotReserved()"
         [class.car-reserved]="isParkingSpotReserved()" class="car-icon car-reserved"
         src="assets/imgs/Auto.svg">
  </ion-col>
  <ion-col class="right-parking-lot-col" col-4>
    {{parkingId}}
  </ion-col>
</div>
